#div1,#div2,#div3{
    background-color: #735238;
    width: 500px;
    height: 100px;
    border-radius: 10px;
    padding-left: 20px;
}
#num{
    background-color: #B2A496;
    color:black;
    padding: 5px 5px;
    font-size: larger;
    border-radius: 2px;
    border-style: solid;
    border-color: #B2A496;
}
#convert-btn{
    background-color: #B2A496;
    color:black;
    padding:5px 5px;
    font-size: larger;
    border-radius: 4px;
     border-style: solid;
     border-color: #B2A496;
}
#top{
    background-color: #735238;
    width:790px;
    height: 150px;
    border-radius: 20px;
padding-left: 10px;
}
#whole{
    background-color: #B2A496;
    width:800px;
    height:650px;
    border-radius: 20px;
}